.root{
    -fx-background-color: rgb(16, 6, 29);
}

.label{
    -fx-color: white;
}

.custom-button {
    -fx-background-color: rgb(29, 10, 53);
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-border-color: rgb(42, 20, 70);
    -fx-border-width: 1px;
    -fx-padding: 10px 30px;
}

.custom-button:hover {
    -fx-background-color: rgb(41, 20, 67); /* darker color on hover */
}
