@font-face {
    font-family: Regular-titillium;
    src: url("../src/fonts/TitilliumWeb-Regular.ttf");
}

@font-face {
    font-family: Bold-titillium;
    src: url("../src/fonts/TitilliumWeb-Bold.ttf");
}

@font-face {
    font-family: Light-titillium;
    src: url("../src/fonts/TitilliumWeb-Light.ttf");
}

*{
    -fx-text-fill: rgb(66, 101, 148);
}

.root {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, rgb(205, 219, 233), rgb(120, 164, 202));
    -fx-font-family: Regular-titillium;
}

.title {
    -fx-font-size: 3em;
    -fx-text-fill: white;
    -fx-font-family: "Regular-titillium";
}

.custom-button {
    -fx-background-color: rgb(104, 127, 168);
    -fx-background-radius: 10px;
    -fx-text-fill: white;
    -fx-font-size: 1.5em;
    -fx-border-color: rgb(162, 182, 209);
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-padding: 10px 30px;
}

.cipher-button {
    -fx-background-color: rgb(104, 127, 168);
    -fx-background-radius: 10px;
    -fx-text-fill: white;
    -fx-font-size: 1em;
    -fx-border-color: rgb(162, 182, 209);
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
}

.custom-button:hover {
    -fx-background-color: rgb(188, 207, 223);
}

.cipher-button:hover {
    -fx-background-color: rgb(188, 207, 223);
}

.title {
    -fx-font-size: 5em;
    -fx-text-fill: white;
    -fx-font-family: "Regular-titillium";
}